#input-item {
  width: 60%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-family: "Fredoka", sans-serif;
}

#submit-button {
  padding: 12px;
  font-family: "Fredoka", sans-serif;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
  color: #003249;
}

#submit-button:hover {
  transform: scale(1.05);
  opacity: 0.95;
}
