#task-article {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

#task-name {
  width: 60%;
  color: #f1faee;
  padding-top: 20px;
  font-size: 1.2em;
}

.task-check {
  text-decoration: line-through;
}

#check-icon {
  transition: transform 0.2s;
}

#check-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#delete-icon {
  transition: transform 0.2s;
}

#delete-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
